<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.charon.dao.Idao">
    <select id="findDept" resultType="com.charon.pojo.DeptPojo">
        SELECT * FROM `tbl_dept`
    </select>

    <select id="findEmps" resultType="com.charon.pojo.EmpPojo">
        SELECT * FROM `tbl_emp`
    </select>
</mapper>